{% extends 'base.html' %}{%load static%}  {% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
{% endblock %} {% block title %} Login {% endblock %} {% block content %}

<h2>Login</h2>
<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Login</button>
</form>
<p>Não tem uma conta? <a href="{% url 'register' %}">Registre-se</a></p>
<p>
  Esqueci sua senha? <a href="{% url 'password_reset' %}">Recuperar senha</a>
</p>
{% endblock %}
