
{% extends "base_gerente.html" %}

{%load static%}

{% block style %}
a{
  text-decoration: none;
}
html{
    background-color: gray;
}
main{
    background-color: gray;
}
.check-icon {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
}
.check-icon-green {
    color: lightgreen; /* Altere para a cor desejada, como "green", "red", "blue", etc. */
    margin-right: 10px;
}

.work {
    font-size: 120px;
    text-align: center;
    display: block;
    color: lightgreen;

    /* Adiciona a animação de rotação */
   
}

/* Define a animação de rotação */
@keyframes rotate {
    from {
        transform: rotate(0deg); /* Começa a partir de 0 graus */
    }
    to {
        transform: rotate(360deg); /* Termina em 360 graus (1 volta completa) */
    }
}
h4{
    color: lightgreen;
    text-align: center;
}
h5{
    color: lightgreen;
    text-align: center;
}
p{
    font-size: 14px;
}
.check-icon-container{
    text-align: center; 
}
{% endblock %}
{% block rest %}
    <br>
    <h4>Bem-vindo {{ user.first_name }} {{ user.last_name }} !</h4>
    <h5>Como Gerente você pode: </h5>

    <i class="bi bi-pc-display work"></i>
    <br>
    <div class="check-icon-container">
    <div class="check-icon">       
        <i class="bi bi-check-lg check-icon-green"></i>
        <p>Visualizar todas as OS's</p>        
    </div>
    <div class="check-icon">       
        <i class="bi bi-check-lg check-icon-green"></i>
        <p>Visualizar todos os clientes</p>        
    </div>
    <div class="check-icon">       
        <i class="bi bi-check-lg check-icon-green"></i>
        <p>Visualizar todos os históricos</p>        
    </div>
    <div class="check-icon">       
        <i class="bi bi-check-lg check-icon-green"></i>
        <p>Editar todos os clientes</p>        
    </div>
    <div class="check-icon">       
        <i class="bi bi-check-lg check-icon-green"></i>
        <p>Editar todas as os's</p>        
    </div>
    <div class="check-icon">       
        <i class="bi bi-check-lg check-icon-green"></i>
        <p>Editar todos os históricos</p>        
    </div>
    <div class="check-icon">       
        <i class="bi bi-check-lg check-icon-green"></i>
        <p>Visualizar e editar todos os clientes</p>        
    </div>
</div>
    {% endblock %}
