
{% extends "base_gerente.html" %}

{%load static%}

{% block style %}
.dentroform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.inputs{
    margin-bottom: 10px;
}

#id_ticket,
#id_tecnico,
#id_descricao,
#id_previsao_chegada,
#id_previsao_execucao,
#id_material,
#id_equipamento,
#id_cliente,
#id_contrato,
#id_atividade,
#id_status {
  width: 350px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  box-shadow: none;
  outline: 0;
  align-self: center; /* Isso centralizará os campos verticalmente */
}
h2{
    color:orange;
  }
{% endblock %}
{% block rest %}
    <form method="post">
        {% csrf_token %}
        <div class="dentroform">
            <br>
            <h2>Atualizar OS </h2>
            <br>
            <div class="inputs">
            {{ form.ticket }}
            </div>
            <div class="inputs">
            {{ form.tecnico }}
            </div>
            <div class="inputs">
            {{ form.descricao }}
            </div>
            {{form2.previsao_chegada}}
            <div class="inputs">
            {{ form.previsao_chegada }}
            </div>
            <div class="inputs">
            {{ form.previsao_execucao }}
            </div>
            <div class="inputs">
            {{ form.material }}
            </div>
            <div class="inputs">
            {{ form.equipamento }}
            </div>
            <div class="inputs">
            {{ form.cliente }}
            </div>
            <div class="inputs">
            {{ form.contrato }}
            </div>
            <div class="inputs">
            {{ form.atividade }}
            </div>
            <div class="inputs">
            {{ form.status }}
            </div>     
            <input type="submit" value="Atualizar" class="btn btn-success">
           
            <div>
    </form>

    {% endblock %}