{% extends "base_staff.html" %}

{%load static%}

{% block style %}
.dentroform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.inputs{
    margin-bottom: 10px;
}

#id_ticket,
#id_tecnico,
#id_descricao,
#id_previsao_chegada,
#id_previsao_execucao,
#id_material,
#id_equipamento,
#id_cliente,
#id_contrato,
#id_atividade,
#id_status {
  width: 350px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  box-shadow: none;
  outline: 0;
  align-self: center; /* Isso centralizará os campos verticalmente */
}
h2{
    color:orange;
  }
{% endblock %}
{% block rest %}



    <br>
    <form method="post" action="{% url 'formulario_os' %}">
        <div class="dentroform">
            {% if messages %}
            <br>
            {% for message in messages %}
                <div class="alert {{message.tags}}">
                    {{message}}
                </div>
            {% endfor %}
            {% endif %}
            {% csrf_token %}
        <h2>Dados da OS </h2>
        <div class="inputs">
        {{ os_form.ticket }}
        </div>
        <div class="inputs">
        {{ os_form.tecnico }}
        </div>
        <div class="inputs">
        {{ os_form.descricao }}
        </div>
        <div class="inputs">
        {{ os_form.previsao_chegada }}
        </div>
        <div class="inputs">
        {{ os_form.previsao_execucao }}
        </div>
        <div class="inputs">
        {{ os_form.material }}
        </div>
        <div class="inputs">
        {{ os_form.equipamento }}
        </div>
        <div class="inputs">
        {{ os_form.cliente }}
        </div>
        <div class="inputs">
        {{ os_form.contrato }}
        </div>
        <div class="inputs">
        {{ os_form.atividade }}
        </div>
        <div class="inputs">
        {{ os_form.status }}
        </div>
              


        <input type="submit" value="Cadastrar" class="btn btn-success">
        <div>
        </form>
        <hr>
        

{% endblock %}
