
{% extends "base_gerente.html" %}

{%load static%}

{% block style %}
a{
  text-decoration: none;
}
html{
    background-color: #b7baca;
}
.check-icon {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
}
.check-icon-green {
    color: lightgreen; /* Altere para a cor desejada, como "green", "red", "blue", etc. */
    margin-right: 10px;
}

.work {
    font-size: 100px;
    text-align: center;
    display: block; /* Certifique-se de que o ícone seja exibido como bloco para o alinhamento horizontal funcionar */
    color: lightgreen;
}
h4{
    text-align: center;
}
h5{
    text-align: center;
}
p{
    font-size: 14px;
}
.check-icon-container{
    text-align: center; 
}
{% endblock %}
{% block rest %}
    <br>
    <h4>Bem-vindo {{ user.first_name }} {{ user.last_name }} !</h4>
    <h5>Como Gerente você pode: </h5>

    <i class="bi bi-pc-display work"></i>
    <br>
    <div class="check-icon-container">
    <div class="check-icon">       
        <i class="bi bi-check-lg check-icon-green"></i>
        <p>Visualizar todas todas as OS's</p>        
    </div>
    <div class="check-icon">       
        <i class="bi bi-check-lg check-icon-green"></i>
        <p>Visualizar todas todos os clientes</p>        
    </div>
    <div class="check-icon">       
        <i class="bi bi-check-lg check-icon-green"></i>
        <p>Visualizar todas todos os históricos</p>        
    </div>
    <div class="check-icon">       
        <i class="bi bi-check-lg check-icon-green"></i>
        <p>Editar todas todos os clientes</p>        
    </div>
    <div class="check-icon">       
        <i class="bi bi-check-lg check-icon-green"></i>
        <p>Editar todas todos as os's</p>        
    </div>
    <div class="check-icon">       
        <i class="bi bi-check-lg check-icon-green"></i>
        <p>Editar todas todos os históricos</p>        
    </div>
    <div class="check-icon">       
        <i class="bi bi-check-lg check-icon-green"></i>
        <p>Visualizar e editar todas todos os clientes</p>        
    </div>
</div>
    {% endblock %}
