{% extends "base_staff.html" %}

{% load static %}

{% block style %}
  .color-red {
    color: red;
  }

  .color-yellow {
    color: #ffae00;
  }

  .color-blue {
    color: blue;
  } 

  .color-green {
    color: #1cbf71;
  }

  .pagination {
    text-align: center;
    margin: 0 auto;
    color: #000;
  }

  .pagination a {
    text-align: center;
    color: #000;
    text-decoration: none;
    margin: 0 10px;
    text-weight: bold;
    font-size: 14px;
    color: orange;
    font-weight: bold;
  }

  .pagination a:hover {
    text-decoration: underline;
  }

  /* Estilos para a página atual */
  .current-page {
    font-weight: bold;
    font-size: 16px;
  }      

  h5, label {
    text-align: center;
    color: orange;
    font-size: 15px;
  }
{% endblock %}

{% block rest %}
  <section id="lista_oc_scr">
    <div class="container">
      <!-- Lista das OS -->
      <div id="oc_lista">
        <br>
        <h5>Busque por: Ticket Os, Status OS, nome do cliente ou endereço do cliente</h5>
        <h5>Se quer buscar por previsão de chegada utilize o formato dd-mm-aaaa Ex: 01-07-2023</h5>

        <form id="form_buscar" class="box-shadow mt-4" method='GET' action="{% url 'lista_os' %}">
          <input type="text" class="form-control mt-3" name="buscar" placeholder="Busca...">
          <button type="submit" class="btn bg06 text-light w-100 box-shadow fs-6 font-bold mt-4 mb-3">Buscar</button>
        </form>

        <div class="tab-pane fade show active" id="pills-01" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
          <!-- OS Urgente -->
          <label class="mt-2 font-medium color04">Todas as OS que eu cadastrei:</label>
          {% for ordem in ordens %}
            <div class="oc_lista_item">
              <div class="row">
                <div class="col-2 col-md-1">
                  <div class="icon bg-light"><i class="bi bi-briefcase text-dark"></i></div>
                </div>
                <div class="col-10 col-md-11">
                    <div class="oc_l_nome font-medium color04">Ticket #{{ ordem.ticket }}</div>
                    <div class="oc_l_status font-medium {% if ordem.status == 'Urgente' %}color-red{% elif ordem.status == 'Atenção' %}color-yellow{% elif ordem.status == 'Aguardando' %}color-blue{% elif ordem.status == 'Concluído' %}color-green{% endif %}">{{ ordem.status }}</div>
                  <div class="oc_l_data color04 font-dark">Descrição: {{ ordem.descricao }}</div>
                  <div class="oc_l_data color04 font-dark">Previsão de chegada: {{ ordem.previsao_chegada }}</div>
                  <div class="oc_l_data color04 font-dark">Técnico Responsável: {{ ordem.tecnico.first_name }} {{ ordem.tecnico.last_name }}</div>
                  <div class="oc_l_data color04 font-dark">Staff Responsável: {{ ordem.staff.first_name }} {{ ordem.staff.last_name }}</div>
                  <div class="oc_l_data color04 font-dark">Cliente: {{ ordem.cliente.nome }}</div>
                  <div class="oc_l_data color04 font-dark">Endereço da OS: {{ ordem.endereco }}</div>
                  <div class="oc_l_data color04 font-dark">Detalhes: Material - {{ ordem.material}} Equipamentos - {{ordem.equipamento}}</div>
                  <div class="oc_l_data color04 font-dark">Atraso em minutos: {{ ordem.atraso_em_minutos }}</div>
                  <div class="oc_l_data color04 font-dark">Aceite: {{ ordem.aceite }}</div>
                  {% if ordem.ocorrencias.all %}
                    <div class="oc_l_data color07 font-dark ">
                      Ocorrências
                      <ul>
                        {% for ocorrencia in ordem.ocorrencias.all %}
                          <li>{{ ocorrencia.titulo }} - {{ ocorrencia.descricao }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% else %}
                    <div class="oc_l_data color04 font-dark">Sem ocorrências</div>
                  {% endif %}
                  <!-- ... (outros detalhes da ordem de serviço) -->

                  {% if ordem.status == "Urgente" %}
                    <div class="status_icon bg05 text-light">
                      <i class="bi bi-exclamation-triangle-fill"></i>
                    </div>
                  {% elif ordem.status == "Atenção" %}
                    <div class="status_icon bg06 text-dark">
                      <i class="bi bi-flag"></i>
                    </div>
                  {% elif ordem.status == "Aguardando" %}
                    <div class="status_icon bg01 text-light">
                      <i class="bi bi-clock"></i>
                    </div>
                  {% elif ordem.status == "Concluído" %} 
                    <div class="status_icon bg02 text-light">
                      <i class="bi bi-check-circle"></i>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <!-- Lista das OS -->
      </div>
      <div class="pagination">
        <span class="step-links">
          {% if ordens.has_previous %}
            <a href="?page=1">&laquo; primeira</a>
            <a href="?page={{ ordens.previous_page_number }}">anterior</a>
          {% endif %}

          <span class="current-page">
            Página {{ ordens.number }} de {{ ordens.paginator.num_pages }}.
          </span>

          {% if ordens.has_next %}
            <a href="?page={{ ordens.next_page_number }}">próxima</a>
            <a href="?page={{ ordens.paginator.num_pages }}">última &raquo;</a>
          {% endif %}
        </span>
      </div>
    </div>
  </section>
{% endblock %}
