{% extends "base_staff.html" %}

{%load static%}

{% block style %}
    /* Reset de estilos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #20c997;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
}

/* Estilos para o título */
h1 {
    font-size: 24px;
    margin-top: 20px;
    color: #fff;
}

/* Estilos para o parágrafo */
p {
    font-size: 18px;
    margin: 20px 0;
    color: #fff;
}

/* Estilos para o botão */

/* Reset de margem e preenchimento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color-red {
    color: red;
  }


  .color-yellow {
    color: #ffae00;
  }


  .color-blue {
    color: blue;
  } 
.card{
    background-color: lightgray;
}
{% endblock %}
{% block rest %}

<body>

    <br>
    <section id="lista_oc_scr">
        <div class="container">

          

            
            <!-- Lista das OS -->
            <div id="oc_lista">
                <label class="mt-1 mb-2 ms-2 font-medium color04"><i class="bi bi-bi bi-card-heading"></i> Lista Ordens de Serviço com atraso:</label>
                
                
                <script>
                  document.addEventListener("DOMContentLoaded", function () {
                      const selectStatus = document.querySelector('#status-filter');
                      const selectDate = document.querySelector('#date-filter');
 // Obtém o elemento select
              
                      selectStatus.addEventListener('change', function () {
                          const selectedStatus = selectStatus.value; // Obtém o valor selecionado
              
                          window.location.href = window.location.pathname + '?status=' + selectedStatus; // Atualiza a URL para acionar a view com o filtro de status
                      });
                      selectDate.addEventListener('change', function () {
                        const selectedDate = selectDate.value;
                        window.location.href = window.location.pathname + '?previsao_chegada=' + selectedDate;
                    });
                  });
              </script>
              <div class="tab-pane fade show active" id="pills-01" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                <!-- OS Urgente -->
              {% if ordens_em_atraso %}  
                {% for ordem in ordens_em_atraso %}
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 col-md-1">
                                <div class="icon bg-light">
                                    {% if ordem.status == "Urgente" %}
                                        <i class="bi bi-exclamation-triangle-fill text-red"></i>
                                    {% elif ordem.status == "Atenção" %}
                                        <i class="bi bi-flag text-yellow"></i>
                                    {% elif ordem.status == "Aguardando" %}
                                        <i class="bi bi-clock text-blue"></i>
                                    {% elif ordem.status == "Concluído" %}
                                        <i class="bi bi-check-circle text-green"></i>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-9 col-md-11">
                                <div class="oc_l_nome font-medium color04"><b>Ticket</b> #{{ ordem.ticket }}</div>
                                <div class="oc_l_data color04 font-light"><b>Previsão de chegada: </b>{{ ordem.previsao_chegada }}</div>
                                <div class="oc_l_data color04 font-light"><b>Técnico Responsável: </b>{{ ordem.tecnico.first_name }} {{ ordem.tecnico.last_name }} Tel - {{ordem.tecnico.telefone}}</div>
                                <div class="oc_l_data color04 font-light">Staff Responsável: {{ ordem.staff.first_name }} {{ ordem.staff.last_name }}</div>
                                <div class="oc_l_data color04 font-light">Status Técnico: {{ ordem.status_tecnico }}</div>
                                <div class="oc_l_data color04 font-light">Atraso: {{ ordem.atraso_em_minutos }} minutos</div>
                                <div class="oc_l_nome font-medium color04">Contatar cliente sobre atraso:</div>
                                <div class="oc_l_data color04 font-light">Cliente: {{ ordem.cliente }}</div>
                                <div class="oc_l_data color04 font-light">Contatar: {{ ordem.cliente.telefone1 }}</div>
                                <div class="oc_l_status font-medium {% if ordem.status == 'Urgente' %}color-red{% elif ordem.status == 'Atenção' %}color-yellow{% elif ordem.status == 'Aguardando' %}color-blue{% elif ordem.status == 'Concluído' %}color-green{% endif %}">{{ ordem.status }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            {% endfor %}
            {% endif %}           
              </div>
    
    
</body>
</html>
{% endblock %}
{% comment %}
<ul>
    {% for ordem in ordens_em_atraso %}
        <li>
            {{ordem.staff.first_name}}
            Ordem de Serviço #{{ ordem.ticket }} - {{ ordem.descricao }} ({{ ordem.atraso_em_minutos }} minutos de atraso)

            Descrição: {{ ordem.atraso_descricao }}
        </li>
    {% endfor %}
</ul> {% endcomment %}