{% extends "base_staff.html" %}

{%load static%}

{% block style %}
.dentroform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.inputs{
    margin-bottom: 10px;
}


#id_tecnico {
  width: 350px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  box-shadow: none;
  outline: 0;
  align-self: center; /* Isso centralizará os campos verticalmente */
}
h2{
    color:orange;
  }
  h3{
    color:orange;
  }

  hr{
    color:orange;
  }
  p{
    color
  }
{% endblock %}
{% block rest %}



    <br>
    <form method="POST">
        {% csrf_token %}
        <div class="dentroform">
            {% if tecnicos_proximos %}
            <p>Essa OS tem como endereço: {{ ordem.endereco }}</p>
            <br>
            <h3>Os 10 técnicos mais próximos:</h3>
            <br>
            <ol>
                {% for tecnico, distancia in tecnicos_proximos %}
                    <li>{{ tecnico }} - Reside em {{tecnico.endereco.cidade}} bairro {{tecnico.endereco.bairro}} - Distância: {{ distancia|floatformat:"2" }} km</li>
                    <hr>
                {% endfor %}
            </ol>
        {% endif %}
            <h2>Escolha um técnico para concluir o cadastro:</h2>
            <div class="inputs">
                {{ form.as_p }}
            </div>
            <input type="submit" value="Cadastrar" class="btn btn-success">
        </div>
    </form>
    
   
    

    
  
    <br>     <br>     <br>     <br>     <br>     <br>     <br>     <br>     <br>     <br>     <br>
    <br>     <br>     <br>     <br>     <br>     <br>     <br>     <br>     <br>     
    <hr>

{% endblock %}