/* Estilizando o formulário */
form {
  max-width: 400px;
  margin: 0 auto;
}

/* Estilizando o título "Login" */
h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilizando os campos do formulário */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilizando o botão de login */
button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff; /* Cor de fundo azul */
  color: #fff; /* Cor do texto branco */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilizando os links "Registre-se" e "Recuperar senha" */
p a {
  text-decoration: none;
  color: #007bff; /* Cor do link azul */
  margin-right: 10px;
}

/* Estilizando o texto "Não tem uma conta?" e "Esqueci sua senha?" */
p {
  text-align: center;
  margin-top: 20px;
}
