{% extends "base2.html" %} {%load static%} {% block style %} .wrapper {
position: relative; width: 100%; height: 175px; -moz-user-select: none;
-webkit-user-select: none; -ms-user-select: none; user-select: none; }
.signature-pad { position: absolute; left: 0; top: 0; width:100%; height:175px;
background: #dde4e8; border: 1px dotted #aaa; margin-bottom: 10px;
border-radius: 8px; } {% endblock %} 


{% block cdn %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Adicione a biblioteca jQuery Mask Plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

{% endblock %} 

{% block rest %}


<section id="detalhes_oc_scr">
  <div class="container">
    <div id="oc_detalhes">
      <div class="oc_titulo mb-1 mb-md-3">
        <div class="row">
          <div class="col-3 col-md-1">
            <div class="icon bg01">
              <i class="bi bi-briefcase text-light"></i>
            </div>
          </div>
          <div class="col-9 col-md-10">
            <h4 class="font-bold">Ticket OS - #{{ordem.ticket}}</h4>
            <div class="row">
              <div class="col-8 col-md-10">
                <p class="font-medium color04">
                  Criada {{ordem.data_criacao}}
                </p>
              </div>
              <div class="col-4 col-md-2">
                <p class="font-medium color04">
                  STATUS:
                  <span class="icon_sm bg01"
                    ><i class="bi bi-clock text-light"></i
                  ></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="oc_ocorrencia">
        <label class="mt-3 ms-2 font-medium color04 fs-6"
          ><span class="font-bold">Hora:</span> 15:59 |
          <span class="font-bold">Data:</span> 01.09.2023</label
        >

        <div class="detalhes_ocorrencia">
          <form
            method="POST"
            id="form_finalizar_os"
            enctype="multipart/form-data"
            class="row"
            action="{% url 'finalizar_os' ordem.id %}"
          >
          {% csrf_token %}
             {% comment %} <div class="col-12">
              <div class="wrapper">
                <canvas id="signature-pad" class="signature-pad"></canvas>
                <label>Assinatura do Responsável </label>
              </div>
              <button class="btn bg01 text-light mt-2" id="save-png">
                Salvar imagem
              </button>
              <button class="btn bg03 mt-2" id="clear">Apagar</button>
              <hr />
            </div>  {% endcomment %}
            <div class="col-6">
              {{historico_form.nome_responsavel}}
              {% comment %} <input
                type="text"
                class="form-control"
                name="form_finalizar_os_nome"
                placeholder="Nome"
              /> {% endcomment %}
            </div>
            <div class="col-6">
              {{historico_form.rg_responsavel}}
              {% comment %} <input
                type="text"
                class="form-control"
                name="form_finalizar_os_rg"
                placeholder="RG"
              /> {% endcomment %}
            </div>
            <div class="col-12 mt-3">
              {{historico_form.observacoes}}
              {% comment %} <textarea
                class="form-control"
                name="form_finalizar_os_obs"
                placeholder="Observações..."
              ></textarea> {% endcomment %}
            </div>
            <div class="col-6 col-md-2 mt-3">
              <div class="btn_wrapper">
                <img
                  src="{% static 'assets/img/btn_add_picture.png' %}"
                  class="w-100"
                />
                {{historico_form.foto}}
                {% comment %} <input type="file" name="form_finalizar_os_foto" /> {% endcomment %}
              </div>
            </div>
            <div class="col-6 col-md-2 mt-3">
              <div class="btn_wrapper">
                <img
                  src="{% static 'assets/img/btn_add_video.png' %}"
                  class="w-100"
                />
                <input type="file" name="form_finalizar_os_video" />
              </div>
            </div>
            <div class="col-12">
              <button
                type="submit"
                class="btn bg02 text-light w-100 box-shadow fs-6 font-bold mt-3"
              >
                Finalizar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block script %}
<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>

{% endblock %} {% block script2 %}
<script>
  var canvas = document.getElementById("signature-pad");

  // Adjust canvas coordinate space taking into account pixel ratio,
  // to make it look crisp on mobile devices.
  // This also causes canvas to be cleared.
  function resizeCanvas() {
    // When zoomed out to less than 100%, for some very strange reason,
    // some browsers report devicePixelRatio as less than 1
    // and only part of the canvas is cleared then.
    var ratio = Math.max(window.devicePixelRatio || 1, 1);
    canvas.width = canvas.offsetWidth * ratio;
    canvas.height = canvas.offsetHeight * ratio;
    canvas.getContext("2d").scale(ratio, ratio);
  }

  window.onresize = resizeCanvas;
  resizeCanvas();

  var signaturePad = new SignaturePad(canvas, {
    backgroundColor: "rgb(255, 255, 255)", // necessary for saving image as JPEG; can be removed is only saving as PNG or SVG
  });

  document.getElementById("save-png").addEventListener("click", function () {
    if (signaturePad.isEmpty()) {
      return alert("Please provide a signature first.");
    }

    var data = signaturePad.toDataURL("image/png");
    console.log(data);
    window.open(data);
  });

  document.getElementById("save-jpeg").addEventListener("click", function () {
    if (signaturePad.isEmpty()) {
      return alert("Please provide a signature first.");
    }

    var data = signaturePad.toDataURL("image/jpeg");
    console.log(data);
    window.open(data);
  });

  document.getElementById("save-svg").addEventListener("click", function () {
    if (signaturePad.isEmpty()) {
      return alert("Please provide a signature first.");
    }

    var data = signaturePad.toDataURL("image/svg+xml");
    console.log(data);
    console.log(atob(data.split(",")[1]));
    window.open(data);
  });

  document.getElementById("clear").addEventListener("click", function () {
    signaturePad.clear();
  });

  document.getElementById("undo").addEventListener("click", function () {
    var data = signaturePad.toData();
    if (data) {
      data.pop(); // remove the last dot or line
      signaturePad.fromData(data);
    }
  });
</script>
<script>
  $(document).ready(function () {
    $('#id_rg_responsavel').mask('00.000.000-0');
  });
 
</script>

{% endblock %}
