{% extends "base2.html" %} {%load static%} {% block rest %}

      <section id="detalhes_oc_scr">
        <div class="container">
 
          <div id="oc_detalhes">

            <div class="oc_titulo mb-1 mb-md-3">
              <div class="row">
                <div class="col-3 col-md-1">
                  <div class="{% if ordem.status == 'Aguardando' %}icon bg01{% elif ordem.status == 'Atenção' %}icon bg06{% else %}icon bg05{% endif %}">
                      <i class="bi bi-briefcase text-light"></i>
                    </div>
                </div>
                <div class="col-9 col-md-10">
                  <h4 class="font-bold">
                    Ticket OS - #{{ordem.ticket}}
                  </h4>
                  <div class="row">
                    <div class="col-8 col-md-10">
                      <p class="font-medium color04">Criada em {{ordem.data_criacao}}</p>
                    </div>
                    <div class="col-4 col-md-2">
                      <p class="font-medium color04">STATUS: 
                        <span class="{% if ordem.status == 'Aguardando' %}icon_sm bg01{% elif ordem.status == 'Atenção' %}icon_sm bg06{% else %}icon_sm bg05{% endif %}">
                          {% if ordem.status == 'Aguardando' %}
                            <i class="bi bi-clock text-light"></i>
                          {% elif ordem.status == 'Atenção' %}
                            <i class="bi bi-flag text-light"></i>
                          {% else %}
                            <i class="bi bi-exclamation-triangle-fill text-light"></i>
                          {% endif %}
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

              <div class="oc_espec box-shadow">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#oc_espec" role="button" aria-expanded="false" aria-controls="oc_espec">
                  Clique para expandir
                </a>
                <span class="icon"><i class="bi bi-arrow-down-circle"></i></span>
                <div class="collapse" id="oc_espec">
                  <div class="card card-body color04">
                    <div class="row">
                      <div class="col-12">
                        <p><strong>Especificações da OS:</strong></p>
                        <p>{{ordem.descricao}} </p>
                      </div>
                      <div class="col-12 mt-2">
                        <p><strong>Endereço:</strong></p>
                        <p id="endereco">{{ordem.cliente.endereco}}</p>
                      </div>
                      <div class="col-6 mt-2">
                        <p><strong>Previsão de Chegada:</strong></p>
                        <p>{{ordem.previsao_chegada}}</p>
                      </div>
                      <div class="col-6 mt-2">
                        <p><strong>Previsão de Execução:</strong></p>
                        <p>{{ordem.previsao_execucao}}</p>
                      </div>
                      <div class="col-12 mt-2">
                        <p><strong>Contato:</strong></p>
                        <p>{{ordem.cliente.telefone1}}.</p>
                      </div>
                      <div class="col-12 mt-2">
                        <p><strong>Material:</strong></p>
                        <p>{{ordem.material}}</p>
                      </div>
                      <div class="col-12 mt-2">
                        <p><strong>Equipamento:</strong></p>
                        <p>{{ordem.equipamento}}</p>
                      </div>
                    <div class="col-12 mt-2">
                        <p><strong>Status Técnico</strong></p>
                        <p>{{ ordem.status_tecnico }}</p>
                    </div>
        
                     
                        <br/>
                        <br/>
                        <ul id="instrucoes-list" style="display: none;"></ul>
                     

                    </div>
                  </div>
                </div>
              </div>







              <div class="oc_ocorrencia">
                <label class="mt-4 font-medium color04">Lista de Ocorrências:</label>
                
                {% for ocorrencia in ocorrencias %}
                <div class="li_ocorrencia">
                    <a class="btn btn-light" data-bs-toggle="collapse" href="#li_oc_{{ ocorrencia.id }}" role="button" aria-expanded="false" aria-controls="li_oc_{{ ocorrencia.id }}">
                        <span class="icon_sm"><i class="bi bi-arrow-down-circle"></i></span>
                        <div class="row">
                            <div class="col-2">
                                <div class="icon bg03_light">
                                    <i class="bi bi-pencil-square text-dark"></i>
                                </div>
                            </div>
                            <div class="col-10">
                                <h5 class="font-bold color04">{{ ocorrencia.titulo }}</h5>
                                <p class="font-regular color04">Clique para expandir</p>
                            </div>
                        </div>
                    </a>
                    <div class="collapse" id="li_oc_{{ ocorrencia.id }}">
                        <div class="card card-body">
                            <p>{{ ocorrencia.descricao }}</p>
                            <hr>
                            {% if ocorrencia.foto %}
                                <img src="{{ ocorrencia.foto.url }}" alt="Foto da ocorrência">
                            {% endif %}
                            {% if ocorrencia.video %}
                                <video width="100%" height="auto" controls class="box-shadow">
                                    <source src="{{ ocorrencia.video.url }}" type="video/mp4">
                                </video>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
             

              </div>









              <br>
              
              <div class="oc_action">
                <a href="{% url 'finalizar_os' ordem.id %}" class="btn bg02 text-light w-100 box-shadow fs-6 font-bold mt-3"
                >Finalizar</a
              >
              <a href="{% url 'ocorrencias' ordem.id %}" class="btn bg04 text-light w-100 box-shadow fs-6 font-bold mt-3"
                >Adicionar Ocorrência</a
              >
             
              <button
                id="btn-problema"
                class="btn bg05 text-light w-100 box-shadow fs-6 font-bold mt-3"
              >
                Ajuda
             
              </div>
                
             
            </div>
            
        </div>
      </section>
    {% endblock %}

