{% extends "base2.html" %}

{%load static%}
{% block style %}
  
.badge{
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 11px;
  position: relative;
}
{% endblock %}
  

{% block rest %}

      <section id="detalhes_oc_scr">
        <div class="container">
 
            <div id="oc_detalhes">

              <div class="oc_titulo mb-1 mb-md-3">
                <div class="row">
                  <div class="col-3 col-md-1">
                    <div class="icon bg01">
                      <i class="bi bi-briefcase text-light"></i>
                    </div>
                  </div>
                  <div class="col-9 col-md-10">
                    <h4 class="font-bold">
                      #{{ordem.ticket}}
                    </h4>
                    <div class="row">
                      <div class="col-8 col-md-10">
                        <p class="font-medium color04">{{ordem.data_criacao}}</p>
                      </div>
                      <div class="col-4 col-md-2">
                        <p class="font-medium color04">STATUS: 
                          <span class="icon_sm bg01"><i class="bi bi-clock text-light"></i></span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="oc_ocorrencia">
                <label class="mt-4 font-medium color04">Motivo do reagendamento:</label>
                
               <div class="detalhes_ocorrencia">
                <form id="form_reportar_ocorrencia" class="row"   method="POST"
                >
                    {% csrf_token %}
                  <div class="oc_acoes mt-2 mb-2">
                    <a class="btn bg04 w-100 collapsed" data-bs-toggle="collapse" href="#acoes_01" role="button" aria-expanded="false" aria-controls="acoes_01">
                      <i class="bi bi-arrow-down-circle"></i> Motivo:
                    </a>
                    <div class="collapse" id="acoes_01">
                      <div class="card card-body mt-2">
                      
                        <div class="mb-3 mt-3">
                          {{form.descricao_reagendamento}}
                        </div>
                    </div>
                  </div>
                  <button type="submit" class="btn bg01 text-light w-100 box-shadow fs-6 font-bold mt-3">Confirmar</button>
                </form>

               </div>

              </div>
                

            </div>
            
        </div>
      </section>
      
  {% endblock %}
